h2.intro {
  font-style: oblique;
  font-weight: bolder;
  font-family: monospace;
  font-size: 30px;

}
p.intro {
  font-style: italic;
  color: red;
  font-size: 20px;
}

img.intro {
  height: 500px;
  weight: 800px;
}

body {
  background-color: grey;
}
